<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Logging.ApplicationName" value="PeinearyDevelopment.Framework.Logging.Sandbox.Console" />
    <add key="Logging.LogLevel" value="Trace" />
    <add key="Messaging.Endpoint" value="rabbitmq://localhost" />
    <add key="Logging.Endpoint" value="http://apis.local-peinearydevelopment.local/Logging/v1" />
  </appSettings>
</configuration>